@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');



@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --black: #212121;
        --white: #fff;
        --blue: #2c4964;
        --lightBlue: #1977CC;
        --shadowBlue: #c1d7ea;
        --titleFont: "Poppins", sans-serif;
        --bodyFont: "Roboto", sans-serif;
        --gray: #d1cece;
        --lighterBlue:#F1F7FC;
        --grayTransparent:  rgba(255, 255, 255, 0.1);
    }
    h1,h2,h3,h4,h5,h6{
        font-family: var(--titleFont);
        @apply text-blue;
    }
    body{
        font-family: var(--bodyFont);
        @apply bg-white;
    }
     .slide-in {
      transform: translateY(0);
      opacity: 1;
      transition: all 0.3s ease-in-out;
    }
    .slide-out {
      transform: translateY(-20px);
      opacity: 0;
      transition: all 0.3s ease-in-out;
    }
    
}

